.demo{
	background: red;
	width: 800px;
	height: 800px;
}
.a{
	background: black;
	width: 200px;
	height: 800px;
}
.b{
	background: lightgreen;
	width: 200px;
	height: 800px;
}
.c{
	background: silver;
	width: 400px;
	height: 800px;
}
.d{
	background: skyblue;
	width: 200px;
	height: 100px;
}
.e{
	background: brown;
	width: 200px;
	height: 400px;
}
.f{
	background: darkgrey;
	width: 200px;
	height: 100px;
}
.g{
	background: mistyrose;
	width: 200px;
	height: 200px;
}
.h{
	background: green;
	width: 100px;
	height: 400px;
}
.i{
	background: palegoldenrod;
	width: 100px;
	height: 400px;
}
.j{
	background: peachpuff;
	width: 100px;
	height: 200px;
}
.k{
	background: orangered;
	width: 100px;
	height: 200px;
}
.l{
	background: mediumseagreen;
	width: 200px;
	height: 400px;
}
.m{
	background: platinum;
	width: 200px;
	height: 100px;
}
.n{
	background: sandybrown;
	width: 200px;
	height: 100px;
}
.o{
	background: indigo;
	width: 200px;
	height: 200px;
}
.p{
	background: lightpink;
	width: 100px;
	height: 400px;
}
.q{
	background: palevioletred;
	width: 100px;
	height: 400px;
}
.r{
	background: mediumvioletred;
	width: 100px;
	height: 200px;
}
.s{
	background: darkcyan;
	width: 100px;
	height: 200px;
}
.t{
	background: springgreen;
	width: 400px;
	height: 100px;
}
.u{
	background: darkorange;
	width: 400px;
	height: 200px;
}
.v{
	background: mistyrose;
	width: 400px;
	height: 500px;
}
.w{
	background: darkolive;
	width: 200px;
	height: 500px;
}
.x{
	background: darkorchid;
	width: 200px;
	height: 500px;
}
.y{
	background: hotpink;
	width: 200px;
	height: 200px;
}
.z{
	background: greenyellow;
	width: 200px;
	height: 200px;
}
.ab{
	background: cornsilk;
	width: 100px;
	height: 300px;
}
.bc{
	background: red;
	width: 100px;
	height: 200px;
}
.cd{
	background: deeppink;
	width: 100px;
	height: 100px;
}
.de{
	background: firebrick;
	width: 100px;
	height: 200px;
}

	