.main{
	background:"pink";
	width:600px;
	height:600px;
}
.sub1{
	background:"red";
	width:200px;
	height:600px;
}
.sub11{
	background:"blue";
	width:200px;
	height:200px;
}
.sub12{
	background:"black";
	width:200px;
	height:200px;
}
.sub12_1{
	background:"green";
	width:100px;
	height:200px;
}
.sub12_2{
	background:"yellow";
	width:100px;
	height:200px;
}
.sub13{
	background:"dark pink";
	width:200px;
	height:200px;
}
.sub13_1{
	background:"dark red";
	width:200px;
	height:100px;
}
.sub13_2{
	background:"dark blue";
	width:200px;
	height:100px;
}
.sub13_21{
	background:"darkyellow";
	width:100px;
	height:100px;
}
.sub13_22{
	background:"darkpink";
	width:100px;
	height:100px;
}
.sub2{
	background:"lightgreen";
	width:200px;
	height:600px;
}
.sub21{
	background:"darkgreen";
	width:200px;
	height:400px;
}
.sub21_1{
	background:"light indigo";
	width:100px;
	height:400px;
}
.sub21_1_1{
	background:"green";
	width:100px;
	height:450px;
}
.sub21_1_2{
	background:"brown";

}
}
}
}
}
}

}
}
}
}
}